@import "tailwindcss";

@layer components{
    :root{
        --ownc1:#EEEEEE; /* body bg */
        --ownc1-1:#e4e4e4; /* body bg */
        --ownc2:#00ADB5;  
        --ownc3:#393E46; 
       --ownc4:#222831; /*text */
      }
    .ownc1{
        color: var(--ownc1);
    }
      .bg-ownc2{
        background-color: var(--ownc2);
    }
    .ownc2{
        color: var(--ownc2);
    }

    .section-h{
        @apply text-center mt-8 text-3xl;
    }
.bottom-line{
    
        position: relative;
  }
  .bottom-line:before {
          content: "";
          position: absolute;
          width:100%;
          height: 3px;
          border-radius: 4px;
          background-color: var(--ownc2);
          bottom: -5px;
          left: -20%;
  }
  .rating-g{
    @apply mt-5;
  }

}